html, body {
    margin:0;
    padding:0;
}
body {
    font-family: 'Montserrat';font-size: 22px;
}
#grad1 {
    /*background: rgb(102,166,255) no-repeat center center fixed;*/
    background-size: cover;
    /*background:url(https://i.pinimg.com/originals/01/fc/e0/01fce0562f8a94a727781d572619c4da.jpg) no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background: linear-gradient(to bottom right, rgba(102,166,255,1) 0%, rgba(102,126,234,1) 35%, 
    rgba(118,75,162,1) 100%) no-repeat center center fixed;
}

.logo{
    width: 15%;
    height: 15%;
    padding-right: 10px;
}

@media (min-width: 1200px) {
    .container{
        max-width: 100%;
   }
}
.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
  }

.jumbotron1 {
    margin-bottom: 0;
}

.row1 {
    margin-top: 0;
    margin-left: 0.07%;
    width:100%;
    background-color: rgb(248, 248, 248);
}

.card {
    background-color: rgb(248, 248, 248);
}

.akzCard {
    border: none;
}

.qsCard {
    border: none;
}

.modal-login {
    width: 320px;
}
.modal-login .modal-content {
    border-radius: 1px;
    border: none;
}
.modal-login .modal-header {
    position: relative;
    justify-content: center;
    background: #f2f2f2;
}
.modal-login .modal-body {
    padding: 30px;
}
.modal-login .modal-footer {
    background: #f2f2f2;
}
.modal-login h4 {
    text-align: center;
    font-size: 26px;
}
.modal-login label {
    font-weight: normal;
    font-size: 13px;
}
.modal-login .form-control, .modal-login .btn {
    min-height: 38px;
    border-radius: 2px; 
}
.modal-login .hint-text {
    text-align: center;
}
.modal-login .close {
    position: absolute;
    top: 15px;
    right: 15px;
}
.modal-login .checkbox-inline {
    margin-top: 12px;
}
.modal-login input[type="checkbox"]{
    margin-top: 2px;
}
.modal-login .btn {
    min-width: 100px;
    background: #3498db;
    border: none;
    line-height: normal;
}
.modal-login .btn:hover, .modal-login .btn:focus {
    background: #248bd0;
}
.modal-login .hint-text a {
    color: #999;
}

.trigger-btn {
    display: inline-block;
}

.modal.show .modal-dialog {
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    top: 50%;
    margin: 0 auto;
}

#forgotPassword {
    font-size: 12pt;
}

#usernameLabel{
    font-size: 16pt;
}

#passwordLabel{
    font-size: 16pt;
}